
/* Desktop default */
.hero-text {
    text-align: left;
    align-items: flex-start;
  }

  .dp{ 
    width: 310px ;
    height: 330px; 
    object-fit: cover; 
    border-radius: 50% 
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .hero-text {
      text-align: center;
      align-items: center;
    }
  
    .hero-text .flex {
      justify-content: center;
    }

    .dp{
      height: 210px; 
    }

  }